<footer class="footer">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row align-items">
          <div class="col">
               <div class="flex-box news-group">
                  <div class="icon-rounded">
                    <span class="material-icons">email</span>
                  </div>
                   NEWS & OFFERS
              </div>
          </div>
          <div class="col">
              <div class="flex-box input-group">
                <input type="text" class="form-control-plaintext" placeholder="Your email address">
                  <button type="button" class="btn btn-secondary">SIGN UP</button>
              </div>
          </div>
          <div class="col">
              <div class="flex-box icon-group">
                  <div class="icon-rounded">

                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</footer>

