<footer class="footer">
    <div class="jumbotron jumbotron-fluid" id="jumbotron-top">
      <div class="container">
        <div class="row align-items">
          <div class="col">
               <div class="flex-box news-group">
                  <div class="icon-rounded">
                    <span class="material-icons">email</span>
                  </div>
                   NEWS & OFFERS
              </div>
          </div>
          <div class="col">
              <div class="flex-box input-group">
                <input type="text" class="form-control-plaintext" placeholder="Địa chỉ email của bạn">
                  <button type="button" class="btn btn-secondary">ĐĂNG KÝ</button>
              </div>
          </div>
          <div class="col">
              <div class="flex-box icon-group">
                  <a href="#">
                      <div class="icon-rounded">
                        <i class="fab fa-facebook"></i>
                      </div>
                  </a>
                  <a href="#">
                      <div class="icon-rounded">
                        <i class="fab fa-twitter"></i>
                      </div>
                  </a>
                  <a href="#">
                      <div class="icon-rounded">
                        <i class="fab fa-instagram"></i>
                      </div>
                  </a>
                  <a href="#">
                     <div class="icon-rounded">
                        <i class="fab fa-pinterest-p"></i>
                     </div>
                  </a>
                  <a href="#">
                      <div class="icon-rounded">
                        <i class="fab fa-google-plus"></i>
                      </div>
                  </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid" id="jumbotron-bottom">
      <div class="container">
          <div class="row">
              <div class="col">
                  <a href="#">
                      <img src="{{ url_for('static', filename='images/logo-footer.png')}} " alt="footer-logo"/>
                  </a>
              </div>
              <div class="col">
                  <div class="text-icon">
                      <span class="material-icons">location_on</span>
                      <span class="text">371 Nguyen Kiem, Go Vap district</span>
                  </div>
                  <div class="text-icon">
                      <span class="material-icons">call</span>
                      <span class="text">1-548-854-8898</span>
                  </div>
                  <div class="text-icon">
                      <span class="material-icons">email</span>
                      <span class="text">hello@thelotushotel.com</span>
                  </div>
              </div>
              <div class="col">
                  <div class="title">
                      VỀ CHÚNG TÔI
                  </div>
                  <div class="sub-title">
                      <a href="#">
                          <span>Thông tin</span>
                      </a>
                      <a href="#">
                          <span>Blog</span>
                      </a>
                      <a href="#">
                          <span>Liên hệ</span>
                      </a>
                  </div>
              </div>
              <div class="col">
                  <div class="title">
                     DANH MỤC
                  </div>
                  <div class="sub-title">
                      <a href="#">
                          <span>Bảng giá</span>
                      </a>
                      <a href="#">
                          <span>Chính sách - Qui định</span>
                      </a>
                      <a href="#">
                          <span>Phụ thu</span>
                      </a>
                  </div>
              </div>
        </div>
      </div>
    </div>
    <div class="footer-created">
      <div class="container">
        <span>© 2021 Lotus Hotel All rights reserved.</span>
      </div>
    </div>
</footer>

