<header class="header">
  <!-- Header-Top -->
  <nav class="navbar navbar-expand-sm">
    <!-- Links -->
    <ul class="navbar-nav top-nav-right">
      <li class="nav-item">
<!--        <span>371 Nguyen Kiem, Go Vap district</span>-->
      </li>
    </ul>

    <ul class="navbar-nav top-nav-left">
      <li class="nav-item">
        <a class="nav-link" href="#">Đăng nhập</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đăng ký</a>
      </li>
    </ul>
  </nav>

  <!-- Header-Nav -->
  <nav class="navbar navbar-expand-sm">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='images/logo-header.png')}}" alt="Logo">
    </a>

    <!-- Links -->
    <ul class="navbar-nav bottom-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Phòng Suite
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Junior Suite</a>
          <a class="dropdown-item" href="#">Executive Suite</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Phòng Deluxe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Phòng Superior</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Phòng Standard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"> | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Về chúng tôi</a>
      </li>
    </ul>
  </nav>
</header>