{% extends 'layout/base.html' %}

{% block title %}Phòng của tôi{% endblock %}

{% block content %}

{% if err:%}
<h1 class="text-center alert alert-danger">{{err}}</h1>
{% endif %}
{% if list_cart %}

<div class="container">
    <h1 class="myCart" style="color: #a7783e; font-weight: 500; margin-top: 52px">PHÒNG CỦA TÔI</h1>
    <h3 class="cart-h3" style="font-size: 20px;">Danh sách phòng đã đặt:</h3>
    <hr class="cart-hr">
    <div class="row" style="margin-left:0">
        <div class="col-lg-8" style="padding-right:35px">
            <div class="row list-cart" id="list-room">
                <input type="text" class="search-cart" onkeyup="searchCart(this)" placeholder="Nhập từ khóa..."
                       title="Tìm kiếm theo tên">
                {% for i in list_cart %}
                <div class="row col-lg-12 lc  room-cart">

                    <div class="col-lg-3" >
                        <img src="{{i.image}}">
                    </div>

                    <div class="col-lg-5">
                        <div class="name-room">
                            <span id="name-cart">{{i.room_name}}</span>
                            <span class="person-amount">{{i.person_amount}} người</span>
                        </div>
                        <div class="date-order">
                            <div>Ngày nhận: <span class="color-gray">{{i.pay_day}}</span></div>
                            <span>Ngày trả: <span class="color-gray">{{i.receive_day}}</span></span>
                        </div>
                    </div>

                    <div class="col-lg-3 color-money">
                        {{'{:20,.0f}'.format(i.price)}} <span style="font-size:11px; color:black">VNĐ/đêm</span>
                    </div>

                    <div class="col-lg-1">
                        <input type="button" name="{{i[2]}}" class="btn btn-del" value="Xóa"
                               onclick="deleteCart(this)" data-bs-toggle="modal"
                               data-bs-target="#exampleModal">
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4" id="pay" >
            <h3>Thông tin đặt phòng</h3>
            <div>Tổng tiền: &ensp;<span id="total_money">{{'{:20,.0f}'.format(total_money)}} VNĐ</span>
                <span style="font-size:14px; margin-left: -4px;color:#846135">/đêm</span></div>
            <div class="voucher">
                <input type="text" placeholder="Nhập mã giảm giá" name="">
                <input type="button" value="Áp dụng" class="btn btn-voucher">
            </div>
            <a href="/payment" class="btn btn-payment"><span>Thanh toán</span></a>
        </div>
    </div>
</div>
{% else %}
<h1 class="myCart" style="margin-left:10%">PHÒNG CỦA TÔI</h1>
<div class="text-center" style="margin-bottom: 17px">Vui lòng đặt phòng!!!</div>
<div class="text-center">Cảm ơn bạn đã lựa chọn dịch vụ của Lotus Hotel !</div>
{% endif %}
<br><br><br><br>
<!-- Modal -->
<script>
                            $(document).ready(function () {
                                var is_open_modal = '{{ is_open_modal }}'
                                console.log('is open modal', is_open_modal)
                                if (is_open_modal === 'True'){
                                    $('#exampleModal').modal('show');
                                }
                            });


</script>
<div class="modal fade" id="exampleModal" style="z-index: 90000000000" tabindex="9" aria-labelledby="exampleModalLabel"
     aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trạng thái</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="display: flex; align-items:center">
                    <div class="icon-payment-success" style="width: 50px; height: 50px">
                        <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641224187/icons/success-icon_bmd0a4.png"
                             alt="icon-payment"
                             style="width: 100%"/>
                    </div>
                    <div style="display:flex; align-items:center; margin-left: 16px;">
                        <p style="margin: 8px auto;">Xóa thành công !</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >Đóng
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}