{% extends 'layout/base.html' %}

{% block title %} The Lotus Hotel {% endblock %}

{% block content %}
<div class="event">
    <div class="container">
        <span class="event-title" style="color: #a7783e; font-weight: 500;">SỰ KIỆN</span>
    </div>
    <div class="container">
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641709325/event-page-images/ballroom-wedding_lzrkcl.jpg"
                             style="width: 100%; border-radius: 8px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Lễ cưới</h5>
                            <p class="card-text"> Tận hưởng những khoảnh khắc đặc biệt cùng nhau trong sự riêng tư của
                                biệt thự hoặc phòng riêng, nhìn ra cảnh hoàng hôn ngoạn mục, và thưởng thức những tiện
                                nghi đặc trưng của Lotus Hotel, bao gồm cả chút đáng yêu và những nét lãng mạn ở mỗi lần
                                nghỉ.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hội họp và sự kiện</h5>
                            <p class="card-text">Chúng tôi có thể cho bạn nhiều giải pháp cho các cuộc họp và các dịp
                                đặc biệt, vì các gói của chúng tôi được thiết kế để tạo ra một sự kiện độc quyền được
                                thiết kế theo nhu cầu cụ thể của bạn. Sự hỗ trợ toàn diện và chuyên nghiệp đi kèm với
                                các dịch vụ cá nhân hóa, để mỗi sự kiện kinh doanh của bạn luôn đi kèm cả niềm vui trên
                                hòn đảo xinh đẹp.</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641709158/event-page-images/mettings-and-events_ov3dgk.jpg"
                             style="width: 100%; border-radius: 8px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641709114/event-page-images/celebrate-with-us_y8kb2v.jpg"
                             style="width: 100%; border-radius: 8px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Tiệc cá nhân</h5>
                            <p class="card-text">Đội ngũ giàu kinh nghiệm và tận tâm của chúng tôi luôn sẵn sàng để giúp
                                bạn tổ chức bất kỳ sự kiện đặc biệt nào tại Lotus Hotel, từ bữa tiệc sinh nhật riêng tư,
                                lễ kỷ niệm ngày cưới hay làm mới lời nguyện ước cùng người bạn đời.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Bánh ngọt</h5>
                            <p class="card-text">Mọi dịp kỷ niệm đều không thể thiếu một chiếc bánh thật đẹp. Tuyển chọn
                                các loại bánh kem, bánh mì ngọt từ Lotus được các đầu bếp Bánh hoàn thiện một cách tỉ mỉ
                                chỉ với những nguyên liệu hảo hạng, chắc chắn sẽ trở thành điểm nhấn đáng yêu để thưởng
                                thức cùng những người thân yêu của bạn.</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641709436/event-page-images/cake_ssfu1v.jpg"
                             style="width: 100%; border-radius: 8px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}