{% extends 'layout/base.html' %}

{% block title %} The Lotus Hotel {% endblock %}

{% block content %}
<div class="gallery">
    <div class="container">
        <span class="gallery-title">THƯ VIỆN ẢNH</span>
    </div>
    <div class="container">
        <div class="row" style="display: flex; align-items: center;">
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-1_mbr9pz.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-2_v1isgq.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-3_dotcnu.jpg">
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-4_hvksna.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-5_pt35tz.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629168/gallery-image/gallery-6_xtvug1.jpg">
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-7_jr19vj.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-8_sbt3qp.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-9_ckxpaa.jpg">
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641629167/gallery-image/gallery-10_reai2v.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641630010/gallery-image/gallery-11_rkiuod.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641630010/gallery-image/gallery-12_der2qh.jpg">
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641630010/gallery-image/gallery-13_rx4idp.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641630010/gallery-image/gallery-14_myxhf5.jpg">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641630010/gallery-image/gallery-15_xzvcxr.jpg">
            </div>
        </div>
    </div>
</div>
{% endblock %}