{% extends 'layout/base.html' %}

{% block title %}Lịch sử thanh toán{% endblock %}

{% block content %}
    <div class="container border-history">
        <h1 class="title-history">LỊCH SỬ THANH TOÁN</h1>
        <div class="row history-payments" id="border-history">
            <div class="col-lg-7">
                <div class="row list-cart" id="list-room">
                    <input type="text"
                           class="search-cart"
                           style="margin-left: auto; width: 93%"
                           onkeypress="searchBookingRoom(event, this, {{current_user.user_role.value}})"
                           placeholder="Nhập mã phòng..."
                           title="Tìm kiếm mã phòng">
                    {% for i in list_booking_room %}
                    <div class="row col-lg-12 lc  room-cart" id="{{i.id}}" style="padding-left: 0;margin-top:15px; margin-left:0px; display: none; height: 140px">

                        <div class="col-lg-3">
                            <img src="{{i.image}}">
                        </div>

                        <div class="col-lg-5">
                            <div class="name-room">
                                <span id="name-cart">{{i.room_name}}</span>
                                <span class="person-amount">{{i.person_amount}} người</span>
                            </div>
                            <div class="date-order">
                                <div>Ngày nhận: <span class="color-gray">{{i.pay_day}}</span></div>
                                <span>Ngày trả: <span class="color-gray">{{i.receive_day}}</span></span>
                            </div>
                        </div>

                        <div class="col-lg-4 color-money" style="font-size: 18px">
                            {{'{:20,.0f}'.format(i.price)}} VNĐ<span style="color: black; font-size: 15px">/đêm</span>
                        </div>


                    </div>
                    {% endfor %}
                    {% if current_user.is_authenticated and current_user.user_role.value == 3 %}
                    <input type="submit" value="Nhận phòng"
                       id="btn-check-in" style="margin-left: auto; width: 93%"
                       class="btn btn-check-in"
                       onclick="deleteBookingRoom()"
                       data-bs-toggle="modal"
                       data-bs-target="#exampleModal"
                       disabled >
                {% endif %}
                </div>

            </div>
            <div class="col-lg-5">
                <div class="border-if">
                    <h4 >Thông tin người thanh toán</h4>
                    <div>
                        <span>Tên&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;: </span>
                        <span id="if-name">.............................................................</span>
                    </div>
                    <div>
                        <span>Số điện thoại&emsp;: </span>
                        <span id="if-numberphone">.............................................................</span>
                    </div>
                    <div>
                        <span>Email&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;: </span>
                        <span id="if-email">.............................................................</span>
                    </div>
                    <div>
                        <span>Quốc tịch&nbsp;&nbsp;&emsp;&emsp;: </span>
                        <span id="if-nation">.............................................................</span>
                    </div>
                </div>
                <div class="total-money-his">Tổng tiền:
                    <span id="total-money-history">... VNĐ</span>
                    <span style="font-size:15px; margin-left:-5px">/đêm</span></div>
            </div>
        </div>


    </div>
    <!-- Modal -->
    <script>
            $(document).ready(function () {
               var is_open_modal = '{{ is_open_modal }}'
               console.log('is open modal', is_open_modal)
               if (is_open_modal === 'True'){
                  $('#exampleModal').modal('show');
               }
            });


    </script>
    <div class="modal fade" id="exampleModal" style="z-index: 90000000000" tabindex="9" aria-labelledby="exampleModalLabel"
     aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trạng thái</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="display: flex; align-items:center">
                    <div class="icon-payment-success" style="width: 50px; height: 50px">
                        <img src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641224187/icons/success-icon_bmd0a4.png"
                             alt="icon-payment"
                             style="width: 100%"/>
                    </div>
                    <div style="display:flex; align-items:center; margin-left: 16px;">
                        <p style="margin: 8px auto;">Nhận phòng thành công!!!</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >Đóng
                </button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="exampleModalError" style="z-index: 90000000000" tabindex="9" aria-labelledby="exampleModalLabel"
     aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Trạng thái</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="display: flex; align-items:center">
                    <div class="icon-payment-success" style="width: 50px; height: 50px">
                        <img src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-512.png"
                             alt="icon-payment"
                             style="width: 100%"/>
                    </div>
                    <div style="display:flex; align-items:center; margin-left: 16px;">
                        <p style="margin: 8px auto;">Vui lòng kiểm tra lại !</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >Đóng
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}