{% extends 'layout/base.html' %}

{% block title %}Thanh toán thành công{% endblock %}

{% block content %}
<div class="payment-success">
    <div class="container" style="margin-top: 48px; margin-bottom: 48px;">
        <div class="content">
            <p>THANH TOÁN THÀNH CÔNG</p>
            <p>Chúng tôi sẽ gửi phiếu đặt phòng điện tử tới email của bạn</p>
            <p>Cảm ơn bạn đã lựa chọn dịch vụ của Lotus Hotel !!</p>
        </div>
        <div class="redirect">
            <p>Tự động chuyển trang sau <span id="counter-countdown">15</span> giây</p>
        </div>
    </div>
</div>
{% endblock %}