{% extends 'layout/base.html' %}

{% block title %}Đăng ký người dùng{% endblock %}

{% block content %}
<div class="block">
    <h1 class="text-center" style="text-align: left !important; margin-bottom: 50px;color:#a5773e;">Đăng ký</h1>

    {% if err_msg %}
        {% if err_msg == "Tạo tài khoản thành công" %}
        <div class="alert alert-success">
            <h4>{{ err_msg }}</h4>
        </div>
        {% else %}
        <div class="alert alert-danger">
            <h4>{{ err_msg }}</h4>
        </div>
        {% endif %}
    {% else %}
    <div>
        <h4>{{ err_msg }}</h4>
    </div>
    {% endif %}

    <script>
        let is_redirect_to_login = '{{ err_msg }}'
        console.log('check', is_redirect_to_login)
        if (is_redirect_to_login === 'Tạo tài khoản thành công'){
            setInterval(() => {
                var spanRedirect = document.querySelector("#redirect").style.display = "block";

                var spanEl = document.querySelector("#register-countdown");
                var count = spanEl.textContent * 1 - 1;
                spanEl.textContent = count;
                if (count <= 0) {
                    window.location.href="/user-login";
                }
            }, 1000);
        }
    </script>

    <form method="post" action="{{ url_for('user_register') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" style="border-radius: 8px;" class="form-control" id="username" name="username" required/>
            {% if username_validate != "" %}
            <div class="invalid-feedback" style="display: block">
                {{ username_validate }}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" style="border-radius: 8px;" class="form-control" id="email" name="email" required/>
            {% if email_validate != "" %}
            <div class="invalid-feedback" style="display: block">
                {{ email_validate }}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" style="border-radius: 8px;" class="form-control" id="password" name="password" required/>
            {% if password_validate != "" %}
            <div class="invalid-feedback" style="display: block">
                {{ password_validate }}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="confirm">Xác nhận mật khẩu</label>
            <input type="password" style="border-radius: 8px;" class="form-control" id="confirm" name="confirm" required/>
            {% if confirm_validate != "" %}
            <div class="invalid-feedback" style="display: block">
                {{ confirm_validate }}
            </div>
            {% endif %}
        </div>
        <input type="submit" style="margin-top: 16px;" value="Đăng ký" class="btn button"/>
        <br><br>
        <span id="redirect" style="display: none;">Chuyển trang đăng nhập sau <span id="register-countdown">6</span> giây</span>
    </form>
</div>


{% endblock %}