{% extends 'layout/base.html' %}

{% block title %} The Lotus Hotel {% endblock %}

{% block content %}
<div class="utilities">
    <div class="container">
        <span class="utilities-title" style="color: #a7783e; font-weight: 500;">TIỆN ÍCH</span>
    </div>
    <div class="container">
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="width: 100%; border-radius: 8px;"
                             src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641644175/utilities-images/infinitte-pool_uyxsgy.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Bể bơi vô cực</h5>
                            <p class="card-text">Ngắm nhìn thành phố từ vị trí đắc địa ở trung tâm, đắm mình vào bể nước "vô cực" như hòa vào với thiên nhiên và mặt biển. Trải nghiệm bơi lội độc đáo và duy nhất trên tầng cao xanh mát chỉ có tại Lotus Hotel</p>
                            <p class="card-text"><small class="text-muted">6:00 - 20:00 (Thứ 6 - Chủ nhật: 6:00 - 21:00)</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Spa</h5>
                            <p class="card-text">Một SPA kiểu rất Việt bốn bề an tĩnh, hương thơm nhẹ thanh, nhạc điệu dịu lành. Các liệu pháp spa tại THE SPA dẫn dắt lưu khách tới một vùng thư thái, tận hưởng giờ phút sâu lắng nhất, như thể được trốn vào cõi thiên nhiên.</p>
                            <p class="card-text"><small class="text-muted">9:00 - 22:00 (thời gian dịch: 12:00 - 20:00)</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img style="width: 100%; border-radius: 8px;"
                             src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641643784/utilities-images/spa_ir54t3.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="width: 100%; border-radius: 8px;"
                             src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641644639/utilities-images/gym-center_fuq9x9.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">GYM center</h5>
                            <p class="card-text">Trung tâm thể hình được trang bị các thiết bị hỗ trợ tập luyện hiện đại nhất nhằm giúp bạn sở hữu một cơ thể khỏe mạnh và một tinh thần sảng khoái. Các huấn luyện viên chuyên nghiệp của chúng tôi sẽ thiết kế riêng cho bạn một chương trình luyện tập phù hợp và hiệu quả. Một nơi nghỉ dưỡng thoải mái và tuyệt vời cho những ai đi du lịch mà vẫn muốn tiếp tục tập luyện thể hình</p>
                            <p class="card-text"><small class="text-muted">06.00 - 23.00 (Thứ 6 - Chủ nhật: 6:00 - 21:00)</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; align-items: center;">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">KARAOKE</h5>
                            <p class="card-text">Phòng karaoke với thiết kế độc đáo cùng hệ thống ánh sáng hài hòa và âm thanh tối tân hứa hẹn mang đến cho bạn và người thân không gian giải trí với âm nhạc thật ấm cúng và phút thư giãn khó phai trong kì nghỉ ở Lotus Hotel.</p>
                            <p class="card-text"><small class="text-muted">10:00 đến 24:00 (Thứ 6 - Chủ nhật: 11:00 - 21:00)</small></p>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <img style="width: 100%; border-radius: 8px;"
                             src="https://res.cloudinary.com/dwgjmgf6o/image/upload/v1641644439/utilities-images/karaoke_v8ejug.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}