header.contact {
    text-align: center;
    background-image: url('/static/images/img-9.jpg' );
    font-size: 30px;
    background-repeat: no-repeat;
    color: white;
    font-style: Arial;
    padding: 7%;
    width: 100%;
}
section.contact-main{
    width: 90%;
    margin: 0% auto ;
    font-size: 20px;
}
.col40 {
    width:40%;
    padding:3%;
    text-align:justify;

}

.col40 ul {
    list-style-type: none;
}
section.contact-main {
    display:flex;
}
table.msg {
    width:100%;
}

table.msg tr:nth-child(2) input[type=text] {
    width: 165%;
    padding:10px;
    margin-top:8%;
}
.col60 {
    width:60%;
    padding:4%;
    margin:2%;
}

.col60 > .row{
    margin-bottom: 16px;
}

.col60 > .row input{
    border: 1px solid #a7783e;
    border-radius: 6px;
    font-size: 15px;
    height: 40px;
}

.col60 > .row input:focus{
    border: 1px solid gray !important;
    outline: none;
}

.col60 > .row textarea{
    border: 1px solid #a7783e;
    border-radius: 6px;
    font-size: 15px;
    height: 150px;
    resize: none;
}

.col60 > .row textarea:focus{
    border: 1px solid gray !important;
    outline: none;
}

.col60 > .row > .submit-contact-mail-btn{
    background-color: #b58943;
    color: white;
    height: 40px;
    width: 40%;
}

.col60 > .row > .submit-contact-mail-btn:hover{
    background-color: #c19967;
    border: 1px solid #c19967;
    color: white;
    height: 40px;
}

footer div.contain-map {
    text-align:center;
    padding:0%;
    margin: 0 auto;
}